*:not(i) {
  font-family: "Poppins", sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ae9cff;
  height: 100vh;
}

h1 {
  font-size: 2rem;
}

div.wrapper {
  width: 90vmin;
  margin: 3rem auto 1rem;
  padding: 4rem 3rem;
  border-radius: 0.7rem;
  border: none;
  background-color: #fff;
  box-shadow: 0 1.5rem 2rem rgba(38, 33, 61, 0.2);
}

input.form-bar {
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: solid 0.15rem #ae9cff;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

input.form-bar:focus {
  outline: none;
}

.btn.search {
  width: 100%;
  color: #fff;
  background-color: #ae9cff;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  padding: 0.6rem 1.5rem;
}

.btn.search:hover {
  background-color: hsl(251, 52%, 68%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

div.result {
  position: relative;
}
div.result h3 {
  font-size: 1.8rem;
}

div.result button {
  background-color: transparent;
  color: #ae9cff;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

div.result .details {
  display: flex;
  color: #b3b6d4;
  margin: 0.2rem 0 1.2rem 0;
  font-size: 0.8rem;
}

div.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.word-meaning {
  color: #575a7b;
}

.word-example {
  color: #575a7b;
  font-style: italic;
  border-left: 0.2rem solid #ae9cff;
  padding-left: 1.2rem;
  margin-top: 1.8rem;
}

.error {
  margin-top: 4rem;
  text-align: center;
}

.error-sub {
  text-align: center;
  color: #575a7b;
}

footer {
  font-size: 0.8rem;
  color: #575a7b;
}

footer a {
  text-decoration: none;
  color: #575a7b;
}
footer a:hover {
  color: #35374b;
  transition: all 0.2s ease-in-out;
}
